# Pandas (Basics)

### Read data from a CSV File into a dataframe

In [5]:
import pandas as pd

df = pd.read_csv("people-100.csv")
print(df.head()) 

# if any encoding issues arise, use the following line instead
# df = pd.read_csv("people-100.csv", encoding='latin1') or encoding='utf-8'
# for google cloud use gcsfs library to read from google cloud storage

   Index          User Id First Name Last Name     Sex  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male
4      5  1bA7A3dc874da3c       Lori      Todd    Male

                        Email                   Phone Date of birth  \
0        elijah57@example.net  001-084-906-7849x73518    1945-10-26
1       bethany14@example.com       214.112.6044x4913    1910-03-24
2       bthompson@example.com            277.609.7938    1992-07-02
3   kaitlinkaiser@example.com            584.094.6111    2017-08-03
4  buchananmanuel@example.net       689-207-3558x7233    1938-12-01

            Job Title
0     Games developer
1      Phytotherapist
2           Homeopath
3   Market researcher
4  Veterinary surgeon

## save data in any format after analysis and cleaning

In [11]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
    }
df = pd.DataFrame(data)
df.to_csv("datamade.csv", index=False)
df.to_excel("datamade.xlsx", index=False)
df.to_json("datamade.json", orient='records', lines=True)

## Data Exploration
### 1. Understanding dataset 
### 2. Identify the problems 
### 3. Plan the next steps

In [13]:
# Rows in dataset 
# head() and tail() methods
df = pd.read_csv("people-100.csv")
print(df.head(10)) # first 10 rows
print(df.tail()) # last 5 rows

   Index          User Id First Name Last Name     Sex  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male
4      5  1bA7A3dc874da3c       Lori      Todd    Male
5      6  bfDD7CDEF5D865B       Erin       Day    Male
6      7  bE9EEf34cB72AF7  Katherine      Buck  Female
7      8  2EFC6A4e77FaEaC    Ricardo    Hinton    Male
8      9  baDcC4DeefD8dEB       Dave   Farrell    Male
9     10  8e4FB470FE19bF0     Isaiah     Downs    Male

                         Email                   Phone Date of birth  \
0         elijah57@example.net  001-084-906-7849x73518    1945-10-26
1        bethany14@example.com       214.112.6044x4913    1910-03-24
2        bthompson@example.com            277.609.7938    1992-07-02
3    kaitlinkaiser@example.com            584.094.6111    2017-08-03
4   buchananmanuel@example.net       689-207-3558x7233    1938-12-01
5          tconner@example.org   001-171-649-9856x5553    2015-10-28
6      conniecowan@example.com   +1-773-151-6685x49162    1989-01-22
7      wyattbishop@example.com  001-447-699-7998x88612    1924-03-26
8          nmccann@example.net      603-428-2429x27392    2018-10-06
9  virginiaterrell@example.org    +1-511-372-1544x8206    1964-09-20

                  Job Title
0           Games developer
1            Phytotherapist
2                 Homeopath
3         Market researcher
4        Veterinary surgeon
5  Waste management officer
6      Intelligence analyst
7            Hydrogeologist
8                    Lawyer
9            Engineer, site
    Index          User Id First Name  Last Name     Sex  \
95     96  5eFda7caAeB260E     Dennis     Barnes  Female
96     97  CCbFce93d3720bE      Steve  Patterson  Female
97     98  2fEc528aFAF0b69     Wesley       Bray    Male
98     99  Adc7ad9B6e4A1Fe     Summer   Oconnell  Female
99    100  b8D0aD3490FC7e1     Mariah    Bernard    Male

                         Email                 Phone Date of birth  \
95         bmartin@example.org  001-095-524-2112x257    1954-07-30
96       latasha46@example.net      001-865-478-5157    1932-04-29
97        regina11@example.org    995-542-3004x76800    1994-12-28
98  alexiscantrell@example.org  001-273-685-6932x092    2012-04-12
99       pcopeland@example.org   (341)594-6554x44657    2016-11-15

                Job Title
95      Software engineer
96              Barrister
97         Police officer
98   Broadcast journalist
99  IT sales professional

In [14]:
# Info() method for summary of dataset
# it shows number of non-null entries, data types, memory usage etc.
df = pd.read_csv("people-100.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          100 non-null    int64
 1   User Id        100 non-null    object
 2   First Name     100 non-null    object
 3   Last Name      100 non-null    object
 4   Sex            100 non-null    object
 5   Email          100 non-null    object
 6   Phone          100 non-null    object
 7   Date of birth  100 non-null    object
 8   Job Title      100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB
None

In [19]:
# Describe() method for statistical summary of numerical columns
# it provides count, mean, std, min, 25%, 50%, 75%, max values

import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [70000, 80000, 90000, 100000, 110000, 120000, 130000, 140000, 150000, 160000]
}
df = pd.DataFrame(data)
print('Descriptive statistics of the dataframe:')
print(df.describe())

# small std deviation means data points are close to the mean -> consistent data
# large std deviation means data points are spread out over a wider range of values
# 25%, 50%, 75% are percentiles -> indicate the value below which a given percentage of observations fall
# for example, 25% of ages are below 37.5, 50% below 52.5, 75% below 67.5

Descriptive statistics of the dataframe:
             Age         Salary
count  10.000000      10.000000
mean   47.500000  115000.000000
std    15.138252   30276.503541
min    25.000000   70000.000000
25%    36.250000   92500.000000
50%    47.500000  115000.000000
75%    58.750000  137500.000000
max    70.000000  160000.000000

1) How big is your dataset
2) What are the names of the columns

In [20]:
df = pd.read_csv("people-100.csv")

print(df.shape)
print(df.columns)

(100, 9)
Index(['Index', 'User Id', 'First Name', 'Last Name', 'Sex', 'Email', 'Phone',
       'Date of birth', 'Job Title'],
      dtype='object')

1) Selecting columns -> using square brackets -> single row (a series), dataframe multiple columns of data
2) Filtering  rows -> using boolean conditions
3) Combining multiple conditionns

In [25]:
df = pd.read_csv("people-100.csv")
column = df['Sex']
print(column)

filtered_df = df[df['Sex'] == 'Male']
print(filtered_df.head())

0       Male
1     Female
2       Male
3       Male
4       Male
       ...
95    Female
96    Female
97      Male
98    Female
99      Male
Name: Sex, Length: 100, dtype: object
   Index          User Id First Name Last Name   Sex  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell  Male
2      3  DbeAb8CcdfeFC2c   Kristine    Travis  Male
3      4  A31Bee3c201ef58    Yesenia  Martinez  Male
4      5  1bA7A3dc874da3c       Lori      Todd  Male
5      6  bfDD7CDEF5D865B       Erin       Day  Male

                        Email                   Phone Date of birth  \
0        elijah57@example.net  001-084-906-7849x73518    1945-10-26
2       bthompson@example.com            277.609.7938    1992-07-02
3   kaitlinkaiser@example.com            584.094.6111    2017-08-03
4  buchananmanuel@example.net       689-207-3558x7233    1938-12-01
5         tconner@example.org   001-171-649-9856x5553    2015-10-28

                  Job Title
0           Games developer
2                 Homeopath
3         Market researcher
4        Veterinary surgeon
5  Waste management officer

In [ ]:
df = pd.read_csv("datamade.csv")
age_above_30 = df[(df['Age'] > 30) & (df['City'] == 'Chicago')] # Example of AND condition
print(age_above_30)

example_or = df[(df['Age'] < 30) | (df['City'] == 'New York')] # Example of OR condition
print(example_or)

      Name  Age     City
2  Charlie   35  Chicago
    Name  Age      City
0  Alice   25  New York

# Pandas (Advanced)

### Data Modification (adding columns, updating values, removing columns etc)

In [37]:
# adding coumns
df = pd.read_csv("datamade.csv")
df['Country'] = 'USA'  # Adding a new column with a default value
df['Salary_USD'] = df['Age'] * 1000  # Adding a new column based on existing data
df['Bonus_USD'] = df['Salary_USD'] * 0.1  # 10% bonus
print(df.head())
print('\n')
# using insert() method
df.insert(2, 'Occupation', ['Engineer', 'Pilot', 'Architect'])
print(df.head())

      Name  Age         City Country  Salary_USD  Bonus_USD
0    Alice   25     New York     USA       25000     2500.0
1      Bob   30  Los Angeles     USA       30000     3000.0
2  Charlie   35      Chicago     USA       35000     3500.0


      Name  Age Occupation         City Country  Salary_USD  Bonus_USD
0    Alice   25   Engineer     New York     USA       25000     2500.0
1      Bob   30      Pilot  Los Angeles     USA       30000     3000.0
2  Charlie   35  Architect      Chicago     USA       35000     3500.0

In [ ]:
# Updating values
# .loc[] method
# df.loc[row_index, 'Column_Name'] = new_value
df = pd.read_csv("datamade.csv")
df.loc[1, 'Age'] = 28  # Update age for Bob

# increasing age by 1 for all individuals
df['Age'] = df['Age'] + 1

df.loc[df['Name'] == 'Alice', 'Age'] = 26  # Update age for Alice
df.loc[df['City'] == 'Chicago', 'City'] = 'Chi-Town'  # Update city name
print(df.head())

      Name  Age         City
0    Alice   26     New York
1      Bob   29  Los Angeles
2  Charlie   36     Chi-Town
      Name  Age         City  Salary_USD
0    Alice   26     New York       26000
1      Bob   29  Los Angeles       29000
2  Charlie   36     Chi-Town       36000

In [ ]:
# removing columns or rows
# drop() method
# df.drop('Column_Name', axis=1, inplace=True)  # Remove a column
# df.drop(row_index, axis=0, inplace=True)  # Remove a row
# inplace=True modifies the original dataframe False returns a new dataframe without modifying the original

# removing column
df = pd.read_csv("datamade.csv")
df.drop(columns=['Age'], axis=1, inplace=True)  # Remove Age column # for single column just use name instead of list of the columns
print(df.head())
df.drop(2, axis=0, inplace=True)  # Remove the row with index
print(df.head())

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
    Name         City
0  Alice     New York
1    Bob  Los Angeles

In [4]:
# handling missing data
# Data Cleaning

# isnull() and notnull() methods
import pandas as pd
df = pd.read_csv("people-100.csv")
df.isnull()
df.notnull()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
95,True,True,True,True,True,True,True,True,True
96,True,True,True,True,True,True,True,True,True
97,True,True,True,True,True,True,True,True,True
98,True,True,True,True,True,True,True,True,True
99,True,True,True,True,True,True,True,True,True

In [ ]:

# fillna() and dropna() methods
import pandas as pd
df = pd.read_csv("datamade.csv")
df.fillna(0) # it fills all missing values with 0
df['Age'].fillna(df['Age'].mean(), inplace=True) #constant value or mean/median/mode can be used to fill missing values

df.dropna() #it is used to remove rows with missing values
df.dropna(axis=1, inplace=True) # it is used to remove columns with missing values

# or interpolation method for time based data use this
# because it checks the neighboring values and fills in missing values accordingly
df.interpolate(method='linear',axis=0, inplace=True)
# linear: fills missing values using linear interpolation
# time: uses time-based interpolation for time series data
# index: uses the index to perform interpolation
# nearest: fills missing values using the nearest valid observation
# polynomial: fits a polynomial to the data points and uses it for interpolation
# spline: fits a spline to the data points and uses it for interpolation
# akima: uses Akima interpolation, which is a type of spline interpolation
# cubic: uses cubic interpolation, which is a type of spline interpolation

C:\Users\ALL IS WELL\AppData\Local\Temp\ipykernel_4648\3846534755.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\ALL IS WELL\AppData\Local\Temp\ipykernel_4648\3846534755.py:11: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='linear',axis=0, inplace=True)

In [18]:
dataset = {
    'Age': [25, 30, None, 35, None, 40, 45, None, 50]
}

# using interpolation to fill missing values
df = pd.DataFrame(dataset)
# linear interpolation
newdataset = df.interpolate(method='linear', axis=0)

print(newdataset.to_string(index=False))

polydataset = df.interpolate(method='polynomial', order=2, axis=0)
print(polydataset.to_string(index=False))

 Age
25.0
30.0
32.5
35.0
37.5
40.0
45.0
47.5
50.0
      Age
25.000000
30.000000
33.016105
35.000000
36.903367
40.000000
45.000000
48.521230
50.000000

## Sorting and Aggregation

In [1]:
# sorting data by values such as alphabetically or numerically
import pandas as pd
dataset = {
    'Name': ['Charlie', 'Alice', 'Bob', 'David'],
    'Age': [25, 30, 22, 35]
}
df = pd.DataFrame(dataset)
sorted_by_name = df.sort_values(by='Name')  # Sort by Name alphabetically
sorted_by_age = df.sort_values(by='Age')    # Sort by Age numerically ascending order by default
# sort_values(by='Age', ascending=False, inplace=True)  # descending order
# for multiple columns
# df.sort_values(by=['Age', 'Name'], ascending=[True, False], inplace=True)
print("Sorted by Name:")
print(sorted_by_name.to_string(index=False))
print("\nSorted by Age:")
print(sorted_by_age.to_string(index=False))

# sorting data by index
import pandas as pd
dataset1 = {
    'Name': ['Charlie', 'Alice', 'Bob', 'David'],
    'Age': [25, 30, 22, 35]
}
df = pd.DataFrame(dataset1, index=[3, 0, 2, 1])  # Custom index
sorted_by_index = df.sort_index()  # Sort by index in ascending order
print("Sorted by Index:")
print(sorted_by_index.to_string(index=False))

Sorted by Name:
   Name  Age
  Alice   30
    Bob   22
Charlie   25
  David   35

Sorted by Age:
   Name  Age
    Bob   22
Charlie   25
  Alice   30
  David   35
Sorted by Index:
   Name  Age
  Alice   30
  David   35
    Bob   22
Charlie   25

In [2]:
# Aggregation functions
# summary statistics of data

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [70000, 80000, 90000, 100000, 110000]
})
# df['Column_Name'].sum()
# df['Column_Name'].mean()
# df['Column_Name'].median()
# df['Column_Name'].mode()
# df['Column_Name'].std()
# df['Column_Name'].var()
# df['Column_Name'].min()
# df['Column_Name'].max()

avg_salary = df['Salary'].mean()
max_age = df['Age'].max()
print(f"Average Salary: {avg_salary}")
print(f"Maximum Age: {max_age}")

Average Salary: 90000.0
Maximum Age: 45

## Grouping in Pandas

In [5]:
# Grouping in Pandas
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [70000, 80000, 90000, 100000, 110000],
    'Department': ['HR', 'Finance', 'IT', 'IT', 'HR']
})
# GROUPBY method, groupby('Column_Name' )
# Group by Department and Age and calculate average salary
grouped = df.groupby(['Department', 'Age'])['Salary'].mean().sort_values(ascending=False)
print(grouped)

Department  Age
HR          45     110000.0
IT          40     100000.0
            35      90000.0
Finance     30      80000.0
HR          25      70000.0
Name: Salary, dtype: float64

## Merging and Joining

In [ ]:
# pd.merge(df1, df2, on='Column_Name', how='type of join')
import pandas as pd
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})
df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 5],
    'Department': ['HR', 'Finance', 'IT']
})
merged_inner = pd.merge(df1, df2, on='EmployeeID', how='inner')  # Inner Join is used when we want to keep only the rows with matching keys in both dataframes
merged_left = pd.merge(df1, df2, on='EmployeeID', how='left')    # Left Join is used when we want to keep all rows from the left dataframe and only matching rows from the right dataframe
merged_right = pd.merge(df1, df2, on='EmployeeID', how='right')  # Right Join is used when we want to keep all rows from the right dataframe and only matching rows from the left dataframe
merged_outer = pd.merge(df1, df2, on='EmployeeID', how='outer')  # Outer Join is used when we want to keep all rows from both dataframes
merged_cross = pd.merge(df1, df2, on='EmployeeID', how='cross')  # Cross Join is used to get the Cartesian product of both dataframes
print("Inner Join:\n", merged_inner)
print("Left Join:\n", merged_left)
print("Right Join:\n", merged_right)
print("Outer Join:\n", merged_outer)
print("Cross Join:\n", merged_cross)

Inner Join:
    EmployeeID   Name Department
0           1  Alice         HR
1           2    Bob    Finance
Left Join:
    EmployeeID     Name Department
0           1    Alice         HR
1           2      Bob    Finance
2           3  Charlie        NaN
3           4    David        NaN
Right Join:
    EmployeeID   Name Department
0           1  Alice         HR
1           2    Bob    Finance
2           5    NaN         IT
Outer Join:
    EmployeeID     Name Department
0           1    Alice         HR
1           2      Bob    Finance
2           3  Charlie        NaN
3           4    David        NaN
4           5      NaN         IT

In [7]:
# concatination of dataframes
# vertically (row-wise)
import pandas as pd
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})
df2 = pd.DataFrame({
    'Name': ['Charlie', 'David'],
    'Age': [35, 40]
})

df_concat = pd.concat([df1, df2], ignore_index=True)  # Concatenate along rows
print("Concatenated DataFrame:\n", df_concat)

# horizontally (column-wise)
df3 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})
df4 = pd.DataFrame({
    'Department': ['HR', 'Finance', 'IT', 'IT'],
    'Salary': [70000, 80000, 90000, 100000]
})

# Concatenate horizontally
df_concat_horizontal = pd.concat([df3, df4], axis=1)
print("Horizontally Concatenated DataFrame:\n", df_concat_horizontal)

Concatenated DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
Horizontally Concatenated DataFrame:
       Name  Age Department  Salary
0    Alice   25         HR   70000
1      Bob   30    Finance   80000
2  Charlie   35         IT   90000
3    David   40         IT  100000